---
---
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

$baseurl:			"{{ site.baseurl }}";

$breakpoint-max-phone:		768px;
$breakpoint-min-tablet:		768px;
$breakpoint-max-tablet:		1024px;
$breakpoint-min-laptop:		1024px;

$background-color:		white;
$text-color:			black;
$highlight-color:		#ff5252;

@import "necolas/normalize";
@import "sindresorhus/github-markdown";
@import "mojombo/github-syntax";
@import "jmlemetayer/common";
@import "jmlemetayer/icomoon";
@import "jmlemetayer/header";
@import "jmlemetayer/footer";
