header {
	margin-bottom: 60px;

	text-align: center;

	h2 {
		top: 50%;
		margin-top: 15px;

		border: 0;

		font-weight: inherit;
	}

	nav {
		a + a::before {
			content: "\2022";

			display: inline-block;

			width: 30px;
		}
	}
}
