---
layout: empty
---
<div id="body">
	<div id="main">
		<header>
			<h1>{{ site.title }}</h1>
			<h2>{{ site.description }}</h2>
			<nav>
				<a href="{{ site.baseurl }}/">Home</a>
			</nav>
		</header>
		<main>
			{{ content }}
		</main>
	</div>
	<footer>
		<p>
			Made with
			<span class="icon icon-love" aria-hidden="true"></span>
			<span class="sr-only">love</span>
			and open source
		</p>
		<nav>
			<a href="{{ site.github.owner_url }}">
				<span class="icon icon-github" aria-hidden="true"></span>
				<span class="sr-only">GitHub</span>
			</a>
			<a href="{{ site.social.gitlab }}">
				<span class="icon icon-gitlab" aria-hidden="true"></span>
				<span class="sr-only">GitLab</span>
			</a>
			<a href="{{ site.social.linkedin }}">
				<span class="icon icon-linkedin" aria-hidden="true"></span>
				<span class="sr-only">Linkedin</span>
			</a>
			<a href="{{ site.social.stackoverflow }}">
				<span class="icon icon-stackoverflow" aria-hidden="true"></span>
				<span class="sr-only">Stack Overflow</span>
			</a>
		</nav>
	</footer>
</div>
